  <div class="form">
    <div class="text-center">
      <form autocomplete="off" class="form-signin" (ngSubmit)="onFormSubmission(loginPage)" #loginPage="ngForm">

        <fa-icon [icon]="faCoffee" size="6x"></fa-icon>
        <br>
        <br>

        <h1 class="h3 mb-3 font-weight-normal text-info">Please sign in</h1>

        <label for="userName" class="sr-only">User Name</label>

        <input type="text" id="userName" name="username" class="form-control" placeholder="User Name" #username
          [ngModel]="user.username" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>

        <input type="password" id="inputPassword" name="pwd" class="form-control" placeholder="Password" #pwd
          [ngModel]="user.pwd" required>

        <div class="checkbox mb-3">

          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <h3 *ngIf="isError1" class="alert alert-warning">Please enter your login credentials</h3>
      <h3 *ngIf="isError2" class="alert alert-warning">User ID & pwd miss match</h3>
    </div>
  </div>

  <footer class="footer">
    <div class="row container">
      <div class="col text-center">
        InvManagement &copy; 2020
      </div>
    </div>
  </footer>
