 <div *ngIf="!toggle">
   <h1>Do u want table view ?</h1>
   <button (click)="onClick($event)" *ngIf="!toggle" class="btn btn-success">Yes</button>
   <h1>Countries List</h1>

   <div class="row">
     <div class="col">
       <ul class="list-group">
         <li *ngFor="let item of countryList | slice:0:99"
           class="list-group-item list-group-item-action list-group-item-dark" (click)="onRowClick(item)">{{item.name}}
         </li>
       </ul>
     </div>

     <div class="col">
       <ul class="list-group">
         <li *ngFor="let item of countryList | slice:100:199" class="list-group-item list-group-item-warning">
           {{item.name}}</li>
       </ul>
     </div>

     <div class="col">
       <ul class="list-group">
         <li *ngFor="let item of countryList | slice:200:245"
           class="list-group-item list-group-item-action list-group-item-primary">{{item.name}}</li>
       </ul>
     </div>
   </div>
 </div>

 <h1 *ngIf="toggle" class="text-monospace">Countries List in Table View</h1>

 <div class="row" *ngIf="toggle">
   <div class="col">
     <table class="table table-dark table-borderless table-sm">
       <thead>
         <tr>
           <th>Name</th>
           <th>Code</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let item of countryList| slice:0:99">
           <td>{{item.name}}</td>
           <td>{{item.code}}</td>
         </tr>
       </tbody>
     </table>
   </div>
   <div class="col">
     <table class="table table-hover table-sm">
       <thead class="thead-dark">
         <tr>
           <th>Name</th>
           <th>Code</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let item of countryList| slice:100:199">
           <td>{{item.name}}</td>
           <td>{{item.code}}</td>
         </tr>
       </tbody>
     </table>
   </div>
   <div class="col">
     <table class="table table-striped table-bordered table-dark ">
       <thead>
         <tr>
           <th>Name</th>
           <th>Code</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let item of countryList| slice:200:245">
           <td>{{item.name}}</td>
           <td>{{item.code}}</td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
