.header {
  color: white;
  background-color: #12456d;
  font-style: oblique;

}

.footer {
  color: #12456d;
  position: absolute;
  bottom: 0.25;
  width: 90%;
  line-height: 60px;
  height: 60px;
  padding-top: 30px;
}

.table {
  background-color: #12456d;
  color: white;

}
